.minerow {
  display: flex;
  justify-content: center;
}
button {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-off {
  background: #c0c0c0;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
.button-off[flag="false"]:active {
  background: #bebebe;
  border: 1px solid #828282;
}
.button-off_active {
  background: #bebebe;
  border: 1px solid #828282;
}
.button-on {
  background: #bebebe;
  border: 1px solid #828282;
}
.button-disabled {
  pointer-events: none;
}
span[hide="true"] {
  opacity: 0;
}
.mine_active {
  background: #FF0200;
}
